* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PingFangSC-Regular', 'STHeiti Light', 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}
body {
  min-width: 1200px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.title-desc {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
}
.sub-title {
  font-family: PingFang SC;
  font-weight: 400;
}
