@import url(./normalize.less);
@import url(./common.less);
.hd-section{
    position: relative;
    background: url(../images/1_01.jpg);
    background-repeat: no-repeat;

    .section-container{
        position: relative;
        background: rgba(0,0,0,.4);
        padding: 28px 0;
    }

    header{
        padding-left: 270px;
        .logo{
            display: inline-block;
            width: 366px;
            height: 40px;
            vertical-align: middle;
            img{
                width: 100%;
                height: 100%;
            }
        }
        ul{
            display: inline-block;
            vertical-align: middle;
            margin-top: 5px;
            li{
                display: inline-block;
                vertical-align: middle;
                list-style: none;
                margin-left: 30px;
                a{
                    display: inline-block;
                    text-decoration: none;
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.5);

                    &.active{
                        color: #fff;
                    }
                }
            }
        }
    }
    .banner-content{
        text-align: center;
        padding: 150px 0;
        margin-top: 20px;
        .sub-title{
            font-size: 30px;
            color: #e49701;
        }
        .title{
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: 'PingFang SC';
            font-size: 44px;
            font-weight: 300;
            color: #fff;
        }
        .title-desc{
            margin-bottom: 60px;
            line-height: 1.5;
            font-size: 20px;
            color: #fff;
        }
        .detail-btn{
            .learn{
                display: inline-block;
                text-align: center;
                margin-right: 5px;
                width: 166px;
                height: 60px;
                line-height: 60px;
                background: rgba(234, 146, 21, 0.8);
                color: #fff;
                font-size: 18px;
                border-radius: 30px;
                &:hover{
                    background: rgba(234, 146, 21, 0.9) !important;
                    color: #fff !important;
                }

            }
            .consult{
                display: inline-block;
                text-align: center;
                width: 238px;
                height: 60px;
                line-height: 60px;
                background: rgba(9, 198, 171, 0.8);
                color: #fff;
                font-size: 18px;
                border-radius: 30px;
                &:hover{
                    background: rgba(9, 198, 171, 0.9) !important;
                    color: #fff !important;
                }
            }
        }
    }
    // .consult-btn{
    //  position: absolute;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  z-index:1;
    // }
}
.main-section{
    .container{     
        .main-list{
            display: inline-block;
            text-align: center;
            .main-item{
                position: relative;
                display: inline-block;
                font-size: 0;
                text-align: center;
                width: 288px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 40px;
                .item-logo{
                    text-align: center;
                    width: 262px;
                    height: 80px;
                    margin-bottom: 10px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
                .item-title{
                    text-align: center;
                    height: 40px;
                    font-size: 24px;
                    color: #3a3a3a;
                    line-height: 40px;                  
                }
                a{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height:100%;
                }

            }
        }
    }
}
.plan-section{
    .container{
        padding-top: 100px;
        .title-desc{
            height: 20px;
            text-align: center;
            margin-bottom: 20px;
            line-height: 1.1;
            color: #EA9215;
            font-size: 18px;
            font-weight: 400;
        }
        .sub-title{
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.5;
            color: #000;
        }
        .title-explain{
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 1.5;
            color: #828282;
        }
        .plan-list{
            display:inline-block;
            font-size: 0;
            .plan-item{
                position: relative; 
                display: inline-block;  
                overflow: hidden;
                text-align: center;
                width: 262px;
                height: 296px;
                background: #54d597;    
                padding: 20px 0 30px;
                color: #fff;
                &:hover{
                    .signup{
                        transform: translateY(0);
                        opacity: 1;
                    }
                }


                .logo{
                    width: 42px;
                    height: 40px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .name{
                    height: 64px;
                    padding-bottom: 12px;
                    border-bottom: 1px dashed #fff;
                    line-height: 50px;
                    font-size: 30px;
                    font-weight: bold;
                }
                .graduation{
                    padding-top: 10px;
                    font-size: 22px;
                    line-height: 1.5;
                }
                .certificate{
                    height: 84px;
                    padding-top: 16px;
                    font-size: 18px;
                    line-height: 1.2;                   
                }
            }
            .mpa{
                position: relative;
                margin-left: 40px;
                background: #f1a942;
            }
            .mem{
                position: relative;
                margin-left: 40px;
                background: #e65e44;
            }
            .mpacc{
                position: relative;
                margin-left: 40px;
                background: #f8b14b;
            }

            .signup{
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                width: 262px;
                height: 296px;
                padding-bottom:16px;
                background: #211c1c;
                transition: all .2s ease;
                transform: translateY(-100%);
                opacity: 0;             
                a{
                    display: inline-block;
                    text-align: center;
                    width: 156px;
                    height: 40px;
                    margin-top: 16px;
                    border-radius: 5px;
                    background: #f34444;
                    color: #fff;
                    font-size: 18px;
                    line-height: 40px;                  
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }           
        }
    }
}
.pick-section{
    padding-top: 120px;
    .container{
        .title-desc{
            height: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: #EA9215;
            font-size: 18px;
            line-height: 1.1;
        }
        .sub-title{
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.5;
            color: #000;
        }
        .title-explain{
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 1.5;
            color: #828282;
        }
        .pick-list{
            display: inline-block;
            font-size: 0;
            .pick-item{
                position: relative;
                display: inline-block;
                overflow: hidden;
                width: 360px;
                height: 256px;
                margin-bottom: 30px;

                &:hover{
                    box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
                    img{
                        transform: scale(1.1);
                    }
                    .item-title{
                        bottom: 55px;
                        opacity: 1;
                        text-decoration: underline;
                    }
                    .item-desc{
                        bottom: 15px;
                        opacity: 1;                     
                    }
                }
                img{
                    width: 360px;
                    height: 256px;
                    transition: 0.5s;
                }
                .item-title{
                    position: absolute;
                    text-align: center;
                    left: 20px;
                    bottom: 80px;
                    font-family: "Work Sans", Arial, sans-serif;
                    font-size: 30px;
                    line-height: 1.1;
                    font-weight: 300;
                    color:#fff;
                }
                .item-desc{ 
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    height: 24px;
                    text-align: center; 
                    color: #fff;
                    line-height: 24px;
                    font-family: "Work Sans", Arial, sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                }
                a{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .rmu{
                margin-left: 45px;
                margin-right: 45px;
            }
            .blu{
                margin-left: 45px;
                margin-right: 45px;
            }
        }
        .other-btn{ 
            text-align: center;     
            margin-bottom: 20px;            
            a{
                display: inline-block;
                width: 208px;
                height: 60px;
                border-radius: 30px;
                background: #EA9215;
                color: #fff;
                font-size: 16px;
                font-weight: 400; 
                line-height: 60px;
            }
        }
    }
}
.app-section{
    background: #e8e8e0;
    padding-top: 64px;
    .container{
        .title-desc{
            text-align: center;
            height: 20px;
            margin-bottom: 20px;
            color: #EA9215;
            font-size: 18px;
            line-height: 1.1;
        }
        .sub-title{
            text-align: center;
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 1.5;
            color: #000;
        }
        .app-logo{
            width: 974px;
            height: 469px;
            margin-left: 98px;
            img{
                width: 100%;
                height: 100%
            }
        }
    }
}
.jobmaster-section{
    padding-top: 40px;
    .container{
        .title-desc{
            height: 20px;
            margin-bottom: 20px;
            text-align: center;         
            color: #EA9215;
            font-size: 18px;
            line-height: 1.1;
        }
        .sub-title{
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.5;
            color: #000;
        }
        .title-explain{
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 1.5;
            color: #828282;
        }
        .jobmaster-list{
            display: inline-block;
            margin-bottom: 30px;
            font-size: 0;            
            .jobmaster-item{
                display: inline-block;
                vertical-align: top;
                width: 389px;
                padding-left: 15px;
                padding-right: 15px;
                .logo{
                    position: relative;
                    width: 360px;
                    height: 256px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    a{  
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-content{
                    padding: 30px;
                    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
                    .name{
                        display: inline-block;
                        margin-bottom: 20px;
                        font-size: 20px;
                        line-height: 1.5;
                        color: black;
                    }
                    .year{
                        margin-bottom: 20px;
                        font-size: 16px;
                        line-height: 1.7;
                        color: #828282;
                    }
                    .description{
                        margin-bottom: 20px;
                        font-size: 16px;
                        line-height: 1.7;
                        color: #828282;
                    }
                    &:hover{
                        .name{
                            text-decoration: underline;
                        }
                        .description{
                            text-decoration: underline
                        }
                    }
                }
                &:hover{
                    box-shadow: 0px 10px 27px -20px rgba(0, 0, 0, 0.75);
                }
                .btn{
                    display: inline-block;
                    height: 42px;
                    padding: 10px 22px;
                    border-radius: 30px;
                    background: #EA9215;
                    font-size: 16px;
                    color: #fff;                    
                }
            }
        }
    }
}
.faq-section{
    background: #e0e0e0;
    .container{

        .faq-image{
            display: inline-block;
            margin-left: 196px;
            padding-left: 15px;
            padding-right: 15px;
            img{
                width: 335px;
                height: 472px;
            }
        }
        .faq-content{
            display: inline-block;
            vertical-align: top;
            width: 390px;
            padding-left: 30px;
            .sub-title{
                text-align: center;
                margin-top: 50px;
                font-size: 30px;
                font-weight: bold;
                color: #000;
                line-height: 50px;
            }
            a{
                display: inline-block;
                text-align: left;
                margin-top: 12px;
                font-size: 18px;
                color: #282828;               
                line-height: 18px;                
                span{
                    display: inline-block;
                    text-align: center;
                    width: 18px;
                    height: 18px;
                    background: #dba329;
                    margin-right: 12px;
                    line-height: 18px;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: underline
                }
                &:nth-child(2n){
                    span{
                        background: #090807;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.situation-section{
    position: relative;
    margin-top: 80px;
    background: url(../images/1_01.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    .container{
        padding: 3em 0;
        .situation-item{
            display: inline-block;
            text-align: center;
            width: 288.5px;
            padding-left: 15px;
            padding-right: 15px;
            .num{
                width: 100%;
                height: 74px;
                margin-bottom: .3em;
                font-size: 44px;
                color: #fff;
                font-family: "Work Sans", Arial, sans-serif;
                font-weight: 400;
            }
            .name{
                margin-bottom: 2em;
                color: #fff;
                font-size: 14px;
            }
        }
    }
}
.pg-ft{
    .container{
        padding-top: 64px;
        .company{
            display: inline-block;
            vertical-align: top;
            width: 292px;
            padding: 0 15px;
            margin-right: 100px;
            .name{
                margin-bottom: 20px;
                color: #000;
                font-family: "Work Sans", Arial, sans-serif;
                font-weight: 400;
                font-size: 18px;
            }
            .address{
                margin-bottom: 20px;
                font-family: "microsoft yahei", Arial, sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.7;
                color: #828282;
            }
            .onetoone{
                margin-bottom: 20px;
                font-family: "microsoft yahei", Arial, sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.7;
                color: #828282;
            }
        }
        .item{
            display: inline-block;
            vertical-align: top;
            width: 196px;
            padding: 0 15px;
            .title{
                margin-bottom: 20px;
                color: #000;
                font-family: "Work Sans", Arial, sans-serif;
                font-weight: 400;
                font-size: 18px;
            }
            a{
                display: block;
                font-family: "microsoft yahei", Arial, sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                color: #828282;
                &:hover{
                    text-decoration: underline
                }
            }
        }
        .copyright{
            text-align: center;
            margin-top: 80px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            color: #828282;
            a{
                color: #EA9215;
            }
        }
    }
}
.rightfix{
    position: fixed;
    top: 50px;
    right: 0;
    width: 115px;
    background: #f64747;
    .fix-title{
        width: 100%
        height:40px;
        text-align: center;
        box-shadow: 0px 3px 6px #562926;
        background: #ee2929;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        span{
            color: #ffd800;
        }
    }
    .sub-title{
        width: 100%;
        height: 20px;
        text-align: center;
        margin-bottom: 5px;
        box-shadow: 0 3px 5px #582a27;
        margin-top: 10px;
        background: #ee2929;
        color: #fff;
        line-height: 20px;
        font-size: 10px;
    }
    .consult-detail{
        a{
            display: block;
            width: 100%;
            height: 20px;
            text-align: center;
            font-size: 12px;
            font-family: 创艺简标宋;
            line-height: 20px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    form{
        .info{
            text-align: center;
            .info-title{
                text-align: center;
                margin-bottom: 22px;
                margin-top: 10px;
                font-size: 15px;
                color: #fff;
                font-weight: 400;
                line-height: 1.1;
            }

            .entry{
                display: block;
                height: 34px;
                width: 110px;
                margin: 0 auto;
                background: #fff;
                border: 1px solid #040000;
                border-radius: 2px;
                padding-left: 5px;
                font-size: 12px;
            }
            .apply-btn{
                display: block;
                width: 115px;
                height: 34px;
                background: #ffd800;
                margin-top: 5px;
                color: #000;
                font-size: 15px;
            }           
        }
    }
}

.leftfix{
    position: fixed;
    left: 0;
    top: 50px;
    width: 135px;
    background: #3fb3f9;  
    padding-top: 25px;
    border-radius: 3px;
    font-family: "Microsoft YaHei",Arial;
    .fix-title{
        text-align: center;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        line-height: 20px;
    }
    .countdown{
        width: 135px;
        height: 32px;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        color: #fff;
        span{
            background: #272636;
            padding: 3px 12px;
            border-radius: 3px;
            font-size: 24px;
            color: #fff;
        }
    }
    .fix-content{
        li{    
            position: relative;     
            width: 123px;
            padding-left: 12px;         
            font-family: "微软雅黑";
            list-style: none;
            a{
                display: block;
                text-align: left;
                height: 32px;
                border-bottom: #3a97d2 solid 1px;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
                line-height: 32px;
                span{
                    color: #272636;
                    font-weight: 600;
                    font-size: 15px;
                }
                &:hover{
                    color: #ffe71c;
                    text-decoration: underline;
                }
            }
            .leftfix-item-chidren{              
                ul{
                    li{                     
                        a{
                            color: #a8d8f5;
                            font-size: 10px;
                            display: block;
                        }
                    }
                    .active{
                        a{  display: block;             
                            color: red;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}